<!doctype html>
<html ng-app="degulog">
  <head>
    <script src="scripts/build/es5.js"></script>
    <script src="http://code.angularjs.org/1.4.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.19/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/scripts/plugin/c3js/c3.min.js"></script>
    <script src="/scripts/plugin/d3js/d3.min.js"></script>
    <script src="/scripts/plugin/jquery-simple-calendar.js"></script>
    <script src="/scripts/build/app.js"></script>
    <script src="/scripts/build/main.js"></script>
    <script src="/scripts/build/blogController.js"></script>
    <script src="/scripts/build/weightController.js"></script>
    <link rel="stylesheet" href="/styles/normalize.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.19/themes/redmond/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css" type="text/css">
    <link rel="stylesheet" href="/scripts/plugin/c3js/c3.css" type="text/css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/styles/jquery-simple-calendar.css" type="text/css">
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <title>ぱずめいろぐ</title>
  </head>
  <body>
    <!-- ヘッダー -->
    <header ng-controller="MainController">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#/blog/posts">ぱずめいろぐ</a>
          </div>
          <ul class="nav navbar-nav">
            <li ng-class="{ active: isActiveMenu('/blog') }"><a href="#/blog/posts">飼育日記</a></li>
            <li ng-class="{ active: isActiveMenu('/weight') }"><a href="#/weight/history">体重管理</a></li>
            <li ng-class="{ active: isActiveMenu('/bought') }"><a href="#/bought/history">購入履歴</a></li>
            <li ng-class="{ active: isActiveMenu('/photo') }"><a href="#/photo/collection">写真集</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- ボディ -->
    <div class="content">
      <div class="row">
        <!-- サイドメニュー -->
        <div ng-controller="MainController" class="col-sm-2 side-menu">
          <div class="panel panel-default">
            <div id="main-menu-title" class="panel-heading">{{ activeMenuTitle() }}</div>
            <ul class="nav nav-pills nav-stacked">
              <li ng-repeat="m in getSideMenu()" ng-class="{ active: isActiveSideMenu('{{m.url}}') }">
                <a href="{{m.url}}" id="side-menu-{{$index}}">
                  <i class="fa {{m.icon}}" aria-hidden="true"></i>
                  {{m.label}}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- メインコンテンツ -->
        <div class="col-sm-10 container">
          <article ng-view ng-cloak class="pageContainer"></article>
        </div>
      </div>
    </div>
    <!-- フッター -->
    <footer>
      Copyright © 2017 ぱずめいろぐ All Rights Reserved.
    </footer>
  </body>
</html>
