<!doctype html>
<html ng-app="degulog">
  <head>
    <script src="http://code.angularjs.org/1.4.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
    <link rel="stylesheet" href="/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>ぱずめいろぐ</title>
  </head>
  <body>
    <!-- ヘッダー -->
    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#/">ぱずめいろぐ</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#/blog">飼育日記</a></li>
            <li><a href="#/weight">体重管理</a></li>
            <li><a href="#/bought">購入履歴</a></li>
            <li><a href="#/photos">写真集</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- ボディ -->
    <div class="content">
      <div class="row">
        <!-- サイドメニュー -->
        <div class="col-sm-2 side-menu">
          <div class="panel panel-default">
            <div class="panel-heading">
              Menu
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li><a href=""><i class="glyphicon glyphicon-pencil"></i> submenu1</a></li>
                <li><a href=""><i class="glyphicon glyphicon-download"></i> submenu2</a></li>
                <li><a href=""><i class="glyphicon glyphicon-leaf"></i> submenu3</a></li>
                <li><a href=""><i class="glyphicon glyphicon-folder-open"></i> submenu4</a></li>
            </ul>
          </div>
        </div>
        <!-- メインコンテンツ -->
        <div class="col-sm-10 container">
          <article ng-view ng-cloak class="pageContainer"></article>
        </div>
      </div>
    </div>
    <!-- フッター -->
    <footer>
      Copyright © 2017 ぱずめいろぐ All Rights Reserved.
    </fotter>
  </body>
</html>
