<h1>写真一覧</h1>
<form name="photoSearchForm">
  <div class="form-group">
    <label>タイトル</label>
    <input type="text" class="form-control" ng-model="photo.searchTitleWord">
  </div>
  <div class="form-group">
    <label>タグ</label>
    <input type="text" class="form-control" ng-model="photo.searchTagsWord">
  </div>
  <div class="form-group">
    <button class="form-control btn btn-primary" ng-click="photo.search()">検索</button>
  </div>
</form>
<table class="table" ng-repeat="p in photo.collections">
  <tr>
    <th>{{ p.title }}</th>
    <td class="center">
      <span>タグ: </span>
      {{ p.tags.join(',') }}
    </td>
    <td class="right">
      <button class="btn btn-primary btn-sm" ng-click="photo.moveToEditPage(p.fileName)">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </button>
      <button class="btn btn-primary btn-sm" ng-click="photo.remove(p.fileName)">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </button>
    </td>
  </tr>
  <tr>
    <td colspan="3"><img src="/rest/photo/ref/{{ p.fileName }}" width="300px"></td>
  </tr>
</table>
