<h1>{{weight.headerText}}</h1>

<form novalidate name="weightForm" ng-submit="weight.submit()">

  <!-- システムメッセージ -->
  <div id="success-msg" class="system-msg" ng-show="weight.success">投稿しました</div>

  <!-- 計測日 -->
  <div class="form-group">
    <label>計測日</label>
    <div class="error" ng-show="weightForm.$submitted">
      <span id="date-require-error" ng-show="weightForm.date.$error.required">(※入力必須です)</span>
      <span id="date-format-error" ng-show="weightForm.date.$error.pattern">(※計測日のフォーマットが正しくありません)</span>
    </div>
    <div class="input-group">
      <input type="text" class="form-control date" name="date" ng-model="weight.post.date" ng-pattern="/^\d{4}/\d{2}/\d{2}$/" required>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
  </div>

  <!-- 体重(パズー) -->
  <div class="form-group">
    <label>パズー(g)</label>
    <div class="error" ng-show="weightForm.$submitted">
      <span id="pazoo-require-error" ng-show="weightForm.pazoo.$error.required">(※入力必須です)</span>
      <span id="pazoo-min-error" ng-show="weightForm.pazoo.$error.min">(※体重は100g以上にしてください)</span>
      <span id="pazoo-max-error" ng-show="weightForm.pazoo.$error.max">(※体重は300g以下にしてください)</span>
    </div>
    <input type="number" class="form-control" name="pazoo" step="0.1" ng-model="weight.post.pazoo" min="100" max="300" required>
  </div>

  <!-- 体重(メイ) -->
  <div class="form-group">
    <label>メイ(g)</label>
    <div class="error" ng-show="weightForm.$submitted">
      <span id="may-require-error" ng-show="weightForm.may.$error.required">(※入力必須です)</span>
      <span id="may-min-error" ng-show="weightForm.may.$error.min">(※体重は100g以上にしてください)</span>
      <span id="may-max-error" ng-show="weightForm.may.$error.max">(※体重は300g以下にしてください)</span>
    </div>
    <input type="number" class="form-control" name="may" step="0.1" ng-model="weight.post.may" min="100" max="300" required>
  </div>

  <!-- Submit -->
  <div class="form-group">
    <button type="submit" class="form-control btn-primary">登録</button>
  </div>

</form>

{{weight.post}}
