<h1>{{weight.headerText}}</h1>

<form novalidate name="weightForm" ng-submit="weight.submit()">

  <!-- システムメッセージ -->
  <div id="success-msg" class="system-msg" ng-show="weight.success">投稿しました</div>

  <!-- 計測日 -->
  <div class="form-group">
    <label>計測日</label>
    <div class="error" ng-show="weightForm.$submitted">
      <span id="date-require-error" ng-show="weightForm.date.$error.required">(※入力必須です)</span>
    </div>
    <div class="form-group">
      <date-time-picker format="Y/m/d" time=false ng-model="weight.post.date"/>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
  </div>

  <!-- 体重(パズー) -->
  <div class="form-group">
    <label>パズー(g)</label>
    <div class="error" ng-show="weightForm.$submitted">
      <span id="pazoo-min-error" ng-show="weightForm.pazoo.$error.min">(※体重は100g以上にしてください)</span>
      <span id="pazoo-max-error" ng-show="weightForm.pazoo.$error.max">(※体重は300g以下にしてください)</span>
    </div>
    <input type="number" class="form-control" name="pazoo"
            step="0.1" ng-model="weight.post.pazoo" min="100" max="300">
  </div>

  <!-- 体重(メイ) -->
  <div class="form-group">
    <label>メイ(g)</label>
    <div class="error" ng-show="weightForm.$submitted">
      <span id="may-min-error" ng-show="weightForm.may.$error.min">(※体重は100g以上にしてください)</span>
      <span id="may-max-error" ng-show="weightForm.may.$error.max">(※体重は300g以下にしてください)</span>
    </div>
    <input type="number" class="form-control" name="may"
            step="0.1" ng-model="weight.post.may" min="100" max="300">
  </div>

  <!-- 体重(キキ) -->
  <div class="form-group">
    <label>キキ(g)</label>
    <div class="error" ng-show="weightForm.$submitted">
      <span id="may-min-error" ng-show="weightForm.may.$error.min">(※体重は100g以上にしてください)</span>
      <span id="may-max-error" ng-show="weightForm.may.$error.max">(※体重は300g以下にしてください)</span>
    </div>
    <input type="number" class="form-control" name="may"
            step="0.1" ng-model="weight.post.kiki" min="100" max="300">
  </div>

  <!-- 体重(ジジ) -->
  <div class="form-group">
    <label>ジジ(g)</label>
    <div class="error" ng-show="weightForm.$submitted">
      <span id="may-min-error" ng-show="weightForm.may.$error.min">(※体重は100g以上にしてください)</span>
      <span id="may-max-error" ng-show="weightForm.may.$error.max">(※体重は300g以下にしてください)</span>
    </div>
    <input type="number" class="form-control" name="may"
            step="0.1" ng-model="weight.post.jiji" min="100" max="300">
  </div>

  <!-- Submit -->
  <div class="form-group">
    <button type="submit" class="form-control btn-primary">登録</button>
  </div>

</form>
