<h1>カレンダー</h1>

<div class="calendar-head">
  <button id="next_month_btn" class="mini-calendar-btn btn btn-default" ng-click="blogCalendar.next()">来月</button>
  <button id="today_btn" class="mini-calendar-btn btn btn-default" ng-click="blogCalendar.today()">今月</button>
  <button id="last_month_btn" class="mini-calendar-btn btn btn-default" ng-click="blogCalendar.prev()">先月</button>
  <p class="calendar-year-month">{{ blogCalendar.year }}年{{ blogCalendar.month }}月</p>
</div>
<div id="mini-calendar">カレンダー</div>
