<h1>{{blog.headerText}}</h1>

<form novalidate name="postForm" ng-submit="blog.submit()">

  <!-- システムメッセージ -->
  <div id="success-msg" class="system-msg" ng-show="blog.success">投稿に成功しました</div>

  <!-- 投稿日 -->
  <div class="form-group">
    <label>投稿日</label>
    <div class="error" ng-show="postForm.$submitted">
      <span id="datetime-require-error" ng-show="postForm.datetime.$error.required">(※投稿日は入力必須です)</span>
      <span id="datetime-format-error" ng-show="postForm.datetime.$error.pattern">(※日時のフォーマットが正しくありません)</span>
    </div>
    <div class="form-group">
      <date-time-picker format="Y/m/d H:i" time=true ng-model="blog.post.datetime"/>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
  </div>

  <!-- タイトル -->
  <div class="form-group">
    <label>タイトル</label>
    <div class="error" ng-show="postForm.$submitted">
      <span id="title-require-error" ng-show="postForm.title.$error.required">(※タイトルは入力必須です)</span>
      <span id="title-length-error" ng-show="postForm.title.$error.maxlength">(※18文字以内で入力してください)</span>
    </div>
    <input type="text" class="form-control" name="title" placeholder="タイトルを入力してください" ng-model="blog.post.title" required ng-maxlength="18">
  </div>

  <!-- 本文 -->
  <div class="form-group">
    <label>本文</label>
    <textarea class="form-control" rows="10" name="body" placeholder="本文を入力してください" ng-model="blog.post.body"></textarea>
  </div>

  <!-- submit -->
  <div class="form-group">
    <button class="form-control btn-primary" type="submit">投稿</button>
  </div>
</form>
