<h1>{{blog.edit.headerText}}</h1>

<form novalidate name="postForm" ng-submit="blog.edit.submit()">

  <!-- システムメッセージ -->
  <div class="system-msg" ng-show="blog.edit.success">投稿に成功しました</div>

  <!-- 投稿日 -->
  <div class="form-group">
    <label>投稿日</label>
    <span class="error" ng-show="postForm.$submitted && postForm.datetime.$error.required">(※入力必須です)</span>
    <span class="error" ng-show="postForm.$submitted && postForm.datetime.$error.pattern">(※日時のフォーマットが正しくありません)</span>
    <div class="input-group">
      <input type="text" class="form-control datetime" name="datetime" ng-model="blog.edit.post.datetime" ng-pattern="/^\d{4}/\d{2}/\d{2} \d{2}:\d{2}$/" required>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
  </div>

  <!-- タイトル -->
  <div class="form-group">
    <label>タイトル</label>
    <span class="error" ng-show="postForm.$submitted && postForm.title.$error.required">(※入力必須です)</span>
    <span class="error" ng-show="postForm.$submitted && postForm.title.$error.maxlength">(※18文字以内で入力してください)</span>
    <input type="text" class="form-control" name="title" placeholder="タイトルを入力してください" ng-model="blog.edit.post.title" required ng-maxlength="18">
  </div>

  <!-- 本文 -->
  <div class="form-group">
    <label>本文</label>
    <textarea class="form-control" rows="10" name="body" placeholder="本文を入力してください" ng-model="blog.edit.post.body"></textarea>
  </div>

  <!-- 添付ファイル -->
  <div class="form-group">
    <label>写真</label>
    <div class="input-group">
      <input class="dummy-file" type="file" style="display:none">
      <input type="text" class="file form-control" placeholder="投稿する写真を選択" readonly>
      <span class="input-group-btn"><button type="button" class="btn btn-info" onclick="$('.dummy-file').click();">選択</button></span>
    </div>
  </div>

  <!-- submit -->
  <div class="form-group">
    <button class="form-control btn-primary" type="submit">投稿</button>
  </div>
</form>
